{% extends 'layout.html' %}

{%block title %} Iul Forum : About {% endblock title %}
{% block about_active %} active {% endblock about_active %}

{% block content %}
<div class="container">

  <div class="alert alert-light " role="alert">
    <h3>About Iul Forum</h3>
  </div>
  <div class="about-blog mx-4">
  <p>
 iulforum.tech is a site created solely for educational purposes. We intend to give educational materials to the students for the betterment of grades. We believe that knowledge and experience are the two major factors that create a responsible person for the betterment of society. Our aim is to create a digital platform for both the teachers and students to enhance their creativity and systematic knowledge. We are constantly working to get and supply students with the information that can motivate both teachers and students to use electronic devices and internet for studying purposes. We believe in building a education system that can benefit an individual for the development of nation as a whole.

  </p>


  </div>
  <div class="alert alert-light " role="alert">
    <h3>What to expect from this site</h3>
  </div>
  <div class="about_more mx-4">
    <p><a class="text-decoration-none text-danger" href="/">Iul Forum</a> is a platform where students can gain information about Computer Science and Web Development. We provides simple and easy notes and you will find numerous subjects related to computer science such as programming in C, Programming in C++, Computer Networks, Management Information System, Visual Basic, And System Analysis and Design and many more.</p>
    
        
      <p>At <a class="text-decoration-none text-danger" href="/">Iul Forum</a>, We Take The Responsibility Of Feeding Your Curiosity For Technical Information With The Latest
      Tech News, coding World Updates</p>
  
  </div>
  
   <div class="alert alert-light mt-4" role="alert">
    <h3>About us</h3>
  </div>
  <div class="about_author mx-4">
    <p>Hello! I’m <a href="https://geekyasif.github.io/" target="_blank">Mohammad Asif</a> (^^)</p>
    <p>Founder & Developer of iulforum.tech. Crafting ideas into reality.</p>
    <p>I have a strong interest in technology, exploring code & programming. I’m a self-taught Full Stack Web Developer
      & have created a few Web apps.</p>
    <p>My Portfolio website :- <a href="https://geekyasif.github.io/" target="_blank">Mohammad Asif</a></p>
  </div>


</div>
{% endblock  %}