{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Iul  Forum : NOTES {% endblock title %}
{% block notes_active %} active {% endblock notes_active %}


{% block content %}
<div class="blog-container my-3">
    <div class="container">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8586139549834082"
                 crossorigin="anonymous"></script>
            <!-- wide ads iulforum -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8586139549834082"
                 data-ad-slot="5487928220"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        <div class="blog-head col-sm-8">
            <div class="blog-head-title">
                <h1>IUL NOTES</h1>
            </div>
            <div class="blog-head-description">
                <p>Iul Notes offers high quality notes to its visitors, all notes have been created by highly educated professionals making sure you get each detail of the subject. You                   can also contribute to BCA Notes by 
                <a class="text-decoration-none text-danger" href="/notes/submit_notes">submitting your notes</a></p>
            </div>
            
                                          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8586139549834082"
                       crossorigin="anonymous"></script>
                  <!-- wide ads iulforum -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-8586139549834082"
                       data-ad-slot="5487928220"
                       data-ad-format="auto"
                       data-full-width-responsive="true"></ins>
                  <script>
                       (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  
        </div>


        <div class="blog-content my-3">
            <div class="row  blow-row">
                <div class="col-sm-8">
                    <div class="alert alert-secondary shadow" role="alert">
                        All Subjects
                    </div>

                    <div class="blog-latest-post ">

                        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-5">
                            {% for subject in subjects %}
                            <div class="col">
                                <div class="card card-subject shadow mb-5 bg-body rounded ">
                                   <a href="{{subject.get_absolute_url}}"> <img src="/media/{{subject.image}}" class="card-img-top" alt="..."></a>
                                   <div class="card-body py-4">
                                   <h6 class="card-cat card-text text-center" ><a class="text-dark text-decoration-none" href="{{subject.get_absolute_url}}">{{subject.name}}</a></h6>
                                   </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                        


                    </div>

                </div>
                
                <div class="col-sm-4">
                         <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8586139549834082"
               crossorigin="anonymous"></script>
                                    <!-- sidebar ads -->
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-8586139549834082"
                                         data-ad-slot="5573125493"
                                         data-ad-format="auto"
                                         data-full-width-responsive="true"></ins>
                                    <script>
                                         (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8586139549834082"
             crossorigin="anonymous"></script>
     
               <div class="ads">              
                  <!-- sidebar ads -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-8586139549834082"
                       data-ad-slot="5573125493"
                       data-ad-format="auto"
                       data-full-width-responsive="true"></ins>
                  <script>
                       (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8586139549834082"
                       crossorigin="anonymous"></script>
               </div>
        
              <div class="ads">
                  <!-- sidebar ads -->
                      <ins class="adsbygoogle"
                           style="display:block"
                           data-ad-client="ca-pub-8586139549834082"
                           data-ad-slot="5573125493"
                           data-ad-format="auto"
                           data-full-width-responsive="true"></ins>
                      <script>
                           (adsbygoogle = window.adsbygoogle || []).push({});
                      </script> 
              </div>
              
        
        
                </div>

            </div>
        </div>

    </div>


</div>

{% endblock content %}