{% extends 'layout.html' %}
{% load static %}
{% block title %} Submit Notes : Iul Forum {% endblock title %}

{% block content %}

<div class="container my-4">
   <h1>Upload Notes</h1>
    <p>Helping Iul Notes is a great way to give back to the students. Thousands of new students stumble upon Iul Notes every day, and we help them to have a great and easy programs so they could enjoy learning.</p>
<hr>
<h3>Thanks for taking time to help students across world.</h3>
<p>At this time, we are not accepting files directly from our website. But wait, you can still help!</p>

<p>Don't loose your hope, you can still send your files at <b><a herf="mailto:support@iulforum.tech">support@iulforum.tech</a></b> as long as you follow our terms and conditions.</p>

<p>Please don't spam it, it will end up banning your IP Address, this means you will no longer have access to any of our Subjects.</p>

 
<p>Before uploading your file, you are agreed to our terms and conditions. We have rights to reject your file if your file does not meet to any of our terms and conditions. Please read our terms and conditions carefully before uploading your notes</p>

<h4>Terms And Conditions</h4>
<ol>
    <li> 
        <p><b> Do not upload Copyrighted contents</b> :- Please do not upload copyrighted contents, in order to respect the law. You are welcome to upload your contents. You can help us to make our site better. We are here to help you, please respect the copy rights laws. </p>
    </li>
    <li> <p><b>File Size</b>: - You can upload files up to 20 Mb, more than 20 Mb will be rejected. We've reduced the upload limit, because we noticed most of users were misusing this and some of files were copy righted, which are opposite to our terms and conditions. If your notes have more than 20 Mb data, Don't worry, please contact us, we will happy to help you.</p></li>
    <li><p><b>Do not upload malware files</b>: - If any body found, uploading malware contents in js or any executable files, he /she will be blacklisted for future access and can't use our services again and may face law by DMCA.</p></li>
    <li><p><b>What we do not guarantee</b>: - We do not guarantee that all of your files, uploaded on bacnotes.com will be published with your name. We will manually review your notes, after reviewed, if your notes looks good and helpful for user, then we'll be very happy to publish that notes on bcanotes.com with your name.</p></li>
    <li><p><b>Restriction on uploading file</b>: - User only can upload files using following formats, which are related to our website. There are some formats which are allowed for upload . User can only upload pdf, doc, docx, ppt, pptx, txt, rar, html, jpg, jpeg, png, gif . If User want to upload in another format please contact us, we will happy to help you.</p></li>
</ol>

</div>


{% endblock content %}